<h1>Welcome to the sign up page</h1>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    var id = 'random'
    $.ajax({
        url: '/tasks/' + id,
        type: 'PATCH',
        dataType: 'json',
        data: {completed: true },
        success: function (data, status) {
            console.log(data)
        }
    })
</script>